<@charset "UTF-8";>
/* ページ全体 */
/*ページ全体の幅は100%と指定する*/
/*ページ全体を中央揃えにする*/
body{
  width:100%;
  text-align:center;
}

/*全体の幅を指定する*/
/*マージンの指定をする、ブラウザ対策*/
/*全体を左揃えにする。*/
#room{
  width: 1000px;
  margin: 0 auto;
  text-align:left;
}

.time {
  width: 80%;
}
/* yepの文字色 */
h1 span {
  color: red;
}

/* aタグの線削除 */
a {
  text-decoration: none;
}

/* コメント */
.box-comment h2 {
  font-size: 20px;
  width: 100%;
  border-bottom: 4px #1281f5 solid;
  font-size: 18px;
  font-weight: normal;

  /* display:inline; */
}

.box-comment .bbs-date {
  float: right;
}

.rpy-comment {
  margin-left: 40%;
  margin-top: 20px;
}

.dl {
  float: left;
}

.square_btn {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #03A9F4;
    border: solid 1px #0f9ada;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

/*押したとき*/
.square_btn:active {
    border: solid 1px #03A9F4;
    box-shadow: none;
    text-shadow: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

label {
    margin-right: 10px;
    width:100px;
    float: left;
    letter-spacing: 2px;
}

/* エラー */
.error {
  color: red;
  margin-left: 110px;
}

/* インプット&テキストエリアの枠のところ */
input {
 border: 2px #03A9F4 solid;
}

textarea {
 border: 2px #03A9F4 solid;
}
