<@charset "UTF-8";>
/* ページ全体 */

body{
  width:100%; /*ページ全体の幅は100%と指定する*/
  text-align:center; /*ページ全体を中央揃えにする*/
}
#room{
  width: 1000px;	   /*全体の幅を指定する*/
  margin: 0 auto;    /*マージンの指定をする、ブラウザ対策*/
  text-align:left;   /*全体を左揃えにする。*/
}
/* yepの文字色 */
span {
  color: red;
}

/* aタグの線削除 */
a {
  text-decoration: none;
}

.dl {
  float: left;
}
.square_btn {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #03A9F4;/*色*/
    border: solid 1px #0f9ada;/*線色*/
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.square_btn:active {/*押したとき*/
    border: solid 1px #03A9F4;
    box-shadow: none;
    text-shadow: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

label {
    margin-right: 10px;
    width:100px;
    float: left;
    letter-spacing: 2px;
}
/* コメント */
table {
  font-size: 20px;
}

.p {
  width: 100%;
  border-top: 4px #1281f5 solid ;
  font-size: 30px;
}

table {
  font-size: 20px;
}

.p-rpy {
  width: 100%;
  border-top: 4px #f51212 solid ;
  font-size: 30px;
}
/* エラー */
.error {
  color: red;
  margin-left: 110px;
}

/* インプット&テキストエリアの枠のところ */
input {
 border: 2px #03A9F4 solid;
}

textarea {
 border: 2px #03A9F4 solid;
}
