<@charset "UTF-8";>
/* ページ全体 */

body {
  width: 100%; /*ページ全体の幅は100%と指定する*/
  text-align: center; /*ページ全体を中央揃えにする*/
}

#wrap {
  width: 1000px;	   /*全体の幅を指定する*/
  margin: 0 auto;    /*マージンの指定をする、ブラウザ対策*/
  text-align: left;   /*全体を左揃えにする。*/
}

/* yepの文字色 */
span {
  color: red;
}
/* aタグの線 */
a {
  text-decoration: none;
}

.dl {
  float: left;
}
.square_btn {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #03A9F4;/*色*/
    border: solid 1px #0f9ada;/*線色*/
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.square_btn:active {/*押したとき*/
    border: solid 1px #03A9F4;
    box-shadow: none;
    text-shadow: none;
}


ul li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
label {
    margin-right: 10px;
    width:100px;
    float: left;
}



/* ルーム一覧 */
table{
  border-collapse:collapse;
  margin:0 auto;
  width: 100%;
  border-width: 1px 0px;
  border: 1px;
  border-style: solid;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  margin-top: 50px;
  margin-bottom: 100px;
}
td,th{
  padding:10px;
}
th{
  color:#fff;
  background:#034382;
}
table tr:nth-child(odd){
  background:#dee2e7;
}

.room_edit {
  align: left;
}
/* エラー */
.error {
  color: red;
  margin-left: 110px;
}
 /* インプットの枠のところ */
input {
  border: 1px #03A9F4 solid;
}
